*{
    font-family: 'verdana',sans-serif;
    margin: 0;
    padding: 0;
}
body{
    /*width: 100%;*/
    /*border: 1px solid red;*/
    background-color:  #fffcf2;
    
}
#header{
    width: 100%;
    background-color:white;
    position: fixed;
    top: 0;
    height: 90px;
}
.navigation a{
    text-decoration: none;
    color: black;
}
.navigation ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 5%;
    padding: 2%;
}

/*.logo{
    display: flex;
    flex-direction: column;
    gap: 70px;
    position: fixed;
}*/
.logo img{
    padding-top: 7%;
    float: left;
    width: 20%;
   position: fixed;
}
#main{
    display: flex;
    justify-content: space-between;
    padding: 7% 2%;
}
.parent2{
    display: flex;
    flex-direction: column;
    float: right;
    gap: 70px;
    border: 0; 
    float: right;
}
.title{
    padding-top: 35%;
    font-size: 35px;
}
.cv button:hover {
    background-color: white;
    border-radius: 10%;
    height: 50px;
    background-color:rgb(123, 118, 118);
}
.cv a{
    text-decoration: none;
    color: black;
}
  a:hover{
    text-decoration: underline;
    text-decoration-color: antiquewhite;
    /* background-color: rgb(196, 191, 191); */
    width: 30%;
    height: 30px;
}
.about-me{
    width: 80%;
    height: 80%;
    background-color: white;
    border: 1px solid rgb(202, 193, 193);
    border-radius: 40px; 
     
}
.service{
    width: 80%;
    height: 82%;
    background-color: white;
    border: 1px solid rgb(202, 193, 193);
    border-radius: 40px;
}
.project{
    display: flex;
    gap: 20px;
    color: black;
}
.card{
    border: 1px solid rgb(202, 193, 193);
    width: 25%;
    height: 90px;
    background-color: white;
    border-radius: 40px;
} 
.card img{
    width: 30px;
    height: 15px;
}
 a{
    text-decoration: none;
    color: black;
}
input{
    border-radius: 10px;
    width: 85%;
    border: 1px solid rgb(202, 193, 193);
    height: 40px;
}

li {
    list-style-type: none;

}

#parent3{
    display: flex;
    justify-content: center;
}
.footer{
    display: flex;
    background-color: black;
    border: 1px solid blanchedalmond;
    border-radius: 50px;
    width: 80%;
}

.footer img{
    width: 70px;
    height: 70px;
    border-radius:50px;
    padding: 3%;
}

.footer ul {
    display: flex;
    gap: 20%;
    padding: 3%;
}
.footer a{
    color: white;
}

